/* Responsive 
===============================
    Escritorios muy grandes
    --------------------------*/
    @media (min-width: 1200px) {
        .containerComing {
            width: 100%;
            grid-template-columns: 1fr 1fr 1fr;
	        grid-template-rows: 1fr 1fr;
	        grid-gap: 3px;
        }
        .main {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 10px;
        }
        .iframe {
            width: 85vw;
            height: 75vh;
        }
    }

    /* Tablets en horizontal y escritorios normales 
    ---------------------------*/
    @media (min-width: 768px) and (max-width: 1199px) {
        .containerComing {
            width: 100%;
            grid-template-columns: 1fr 1fr 1fr;
	        grid-template-rows: 1fr 1fr;
	        grid-gap: 3px;
        }
        .main {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding: 0 10px;
        }
        .iframe {
            width: 80vw;
            height: 70vh;
        }
    }

    /* Moviles en horizontal o tablets en vertical 
    ---------------------------*/
    @media (max-width: 767px) {
        .containerComing {
            width: 100%;
            grid-template-columns: 1fr 1fr 1fr;
	        grid-template-rows: 1fr 1fr;
	        grid-gap: 3px;
        }
        .main {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 10px;
        }
        .iframe {
            width: 80vw;
            height: 60vh;
        }
    }

    /* Moviles en vertical 
    ---------------------------*/
    @media (max-width: 480px) {
        body {
            padding: 0 0;
        }
        .nav {
            top: 0;
            right: 0;
            width: 100%;
            height: 30px;
            box-shadow: 2px 0 1px black;
            background-color: white;
        }
        .nav ol {
            display: flex;
            justify-content: space-between;
        }
        .nav ol li {
            padding-left: 0;
            width: 100%;
            background-color: white;
            /* box-shadow: 0px 0px 1px 1px; */
            padding: 6px 2px;
        }
        .nav ol li a {
            color: black;
            text-align: center;
        }        
        .up-down {
            display: none;
        }

        .containerInicio {
            height: 100vh;
        }
        .containerAvatar {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .avatar {
            width: 60%;

        }
        .main {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 10px;
        }
        .containerComing {
            width: 100%;
            grid-template-columns: 1fr 1fr 1fr;
	        grid-template-rows: 1fr 1fr;
	        grid-gap: 3px;
        }
        .project {
            width: 90%;
            height: 90%;
        }

        .project h3 {
            width: 90%;
            text-align: center;
            font-size: 15px;
        }
        .project h3:active {
            background-color: black;
        }
        .project img {
            width: 55%;
        }
        .midTitle {
            width: 100%;
        }
        .iframe {
            width: 90vw;
            height: 55vw;
        }
    }